In [1]:
import pandas as pd

In [2]:
print(10-4)

6

In [3]:
import pandas as pd
data = pd.read_csv("spam.csv", encoding="latin-1")
data.columns

Index(['class', 'message', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [4]:
data.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [5]:
data.head(5)

  class                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data['class']=data['class'].map({'ham':0,'spam':1})

In [7]:
data.head(5)

   class                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [8]:
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
cv=CountVectorizer()

In [10]:
x=data['message']
y=data['class']

In [11]:
x.shape

(5572,)

In [12]:
y.shape

(5572,)

In [13]:
cv.fit(x)

CountVectorizer()

In [14]:
x=cv.fit_transform(x)

In [15]:
x

<5572x8672 sparse matrix of type '<class 'numpy.int64'>'
	with 73916 stored elements in Compressed Sparse Row format>

1.The Cat
2.The Dog
3.The Bird

    The Cat Dog Bird
1.   1   1   0    0
2.    1   0   1    0
3.    1   0   0    1

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.2)

In [18]:
x_train.shape

(4457, 8672)

In [19]:
from sklearn.naive_bayes import MultinomialNB

In [20]:
model=MultinomialNB()

In [21]:
model.fit(x_test, y_test)

MultinomialNB()

In [22]:
model.score(x_test, y_test)

0.9919282511210762

In [23]:
result=model.score(x_test, y_test)
result*100

99.19282511210761

In [24]:
import pickle

In [25]:
pickle.dump(model, open("spam.pkl","wb"))

In [26]:
pickle.dump(cv, open("vectorizer.pkl","wb"))

In [27]:
clf=pickle.load(open("spam.pkl","rb"))

In [28]:
clf

MultinomialNB()

In [31]:
msg="today is good day"
data=[msg]
vect=cv.transform(data).toarray()
result=model.predict(vect)
print(result)

[0]